extends nav

block extraScripts
  script(language="JavaScript" type="text/javascript" src="javascripts/admin-controller.js")


block content
  .container
    a(href="/quiz-gen") 
      h2 Quiz Creator
    br
    a(href="/quiz-manager")
      h2 Quiz Manager
    br
    a(href="/assignment-gen") 
      h2 Assignment Creator
    br
    a(href="/assignment-assessment") 
      h2 Assignment Assesment