<!DOCTYPE html>
<html>
<head>
  <title>HTML Layout using Tables</title>
  <link rel="stylesheet" type="text/css" href="plugin/codemirror/codemirror-5.23.0/lib/codemirror.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/lib/codemirror.js"></script>
  <script language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/mode/clike/clike.js"></script>
  <script language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/mode/javascript/javascript.js"></script>
</head>
<body>
  <textarea rows="1" cols="50" id="inputParams"></textarea>
  <textarea class="codemirror-textarea"></textarea>
  <script language="JavaScript" type="text/javascript" src="javascripts/default.js"></script>
  <textarea rows= "5" cols="30" id="cinParams"></textarea>
  <textarea rows="4" cols="50" id="outputOfCode">
  </textarea>
  <button id="showText">Test</button>
</body>
</html>