extends nav

block extraScripts
  script(language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/lib/codemirror.js")
  script(language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/mode/clike/clike.js")
  script(language="JavaScript" type="text/javascript" src="javascripts/googleStuff.js")
  script(language="JavaScript" type="text/javascript" src="javascripts/program-controller.js")
  script(language="JavaScript" type="text/javascript" src="javascripts/index-controller.js")
  link(href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css', rel='stylesheet')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js')

  script(language="JavaScript" type="text/javascript" src="plugin/codemirror/codemirror-5.23.0/mode/javascript/javascript.js")
  script(async='', defer='', src='https://apis.google.com/js/api.js', onload='this.onload=function(){};handleClientLoad()', onreadystatechange="if (this.readyState === 'complete') this.onload()")





block content
  #backgroundContainer
    #utilityBar
      button#save.btn.btn-primary(type='button', onclick='askSave(true)')
          i.fa.fa-floppy-o(aria-hidden='true')
      button#new.btn.btn-primary(type='button', onclick='newFile()')
          i.fa.fa-plus-square-o(aria-hidden='true')
      button#delete.btn.btn-primary(type='button', onclick='deleteFile()')
          i.fa.fa-trash-o(aria-hidden='true')
      button.tableCol.btn-sm.btn-primary(type="submit" class="btn" id="rename" onclick="renameFile()") Rename
      button#fullScreen.btn.btn-primary(type='button' onclick='fullScreen()')
          i.fa.fa-arrows-alt(aria-hidden='true')
      hr
      #name
      #programsList.tableCol
    #content
      #codingSection.half
        textarea(class="codemirror-textarea" id="testView")
      .half#inputContainers
        #inputSection.split
          p Compile Time Arguments
          textarea(rows="1" cols="50" id="inputParams")
          p Input
          textarea(rows= "5" cols="30" id="cinParams")
          br
          button.btn.floatRight(id="showText") Run
        #outputSection.split
          p Computer Output
          textarea(rows="4" cols="50" id="outputOfCode")
    #dialog(title='Newest File')
      p
        | The autosaved file is more recent then the saved file.
        br
        |       Would you like to load the autosaved file instead?
    #dialogClose(title='Save Program')
      p
        | Do you wish to save this file?

      
      
    