doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel="stylesheet" type="text/css" href="plugin/codemirror/codemirror-5.23.0/lib/codemirror.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="/javascripts/jquery.cookie.js")
    script(src="javascripts/default.js")
    script(src="javascripts/googleStuff.js")
    block extraScripts
    
  body
    .rowContainer.header
      #menu(onclick="openNav()")
        i.fa.fa-bars.fa-lg
      #logo
        img(src="images/uoit.jpg")
      #titleDiv
        h1 #{title}
      headerContent
        button.btn.btn-primary#sign-in-or-out-button(style='margin-left: 25px') Sign In/Authorize
        button.btn.btn-primary#revoke-access-button(style='display: none; margin-left: 25px') Revoke access
      #mySidenav.sidenav
        #sideNavHeader
          .centered
            #menuIconOpen
              i.fa.fa-bars.fa-lg(onclick="closeNav()")
        a(href="/") Home
        a(href="#" onclick="tester()") Programs
        #programs(style='display: none')
        a(href="/quiz") Quiz
        a(href="#" onclick="showInstrPrograms()") Instructor Programs
        #instrPrograms(style='display: none')
        // need to add this in when the user is an admin
        a(href="/admin") Administration
    block content
    footer(class="footer")
      h4 UOIT