extends nav

block extraScripts
  script(src="javascripts/quiz-controller.js")

block content
  .container
    <!-- Modal -->
    <div class="modal fade" id="quizModal" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">#{title}</h4>
    </div>
    <div class="modal-body">
    <p id="mark">No Mark</p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="navQuiz()">See Quizzes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">See Results</button>
    </div>
    </div>
    </div>
    </div>
    #questions

    button#submitQuiz.btn-sm(type="submit" class="btn" onclick="submitQuiz()") Submit